extends ../layout

block content
    h1= title
    button(id='create_order') Создать
    table
        tr 
            th id
            th Название
            th Статус
            th Клиент
            th Сумма
        each item in orders
            tr
                td= item.id
                td
                    a(href='/orders/' + item.id)= item.label
                td= item.order_status_label
                td= item.client_label
                td= item.amount


    div#create_order_popup.q-window
          div.q-window-block(style="width:400px;height:220px;margin:-150px 0 0 -400px")
            div.q-window-header Создать заказ
              a#create_order_popup_close(style="position: relative;left: 300px;") X
            div.q-window-body.q-form
              div.q-window-filters-form
                div.q-form-data
                  label(for="inpLabel") Название
                  input#inpLabel(type="text")
                div.q-form-data
                  label(for="inpClient") Клиент
                  select#inpClient
                    each item in clients
                        option(value= item.id)= item.label
                div.q-form-data
                  label(for="inpAmount") Сумма
                  input#inpAmount(type="text")

            div.q-buttons
              a#submit_create_order Создать
              a#cancel_create_order Отменить
